/* line 11, ../../scss/test.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
/* line 50, ../../scss/_clearfix.scss */
.group:before, .group:after {
  content: "";
  display: table;
}
/* line 54, ../../scss/_clearfix.scss */
.group:after {
  clear: both;
}

/* line 15, ../../scss/test.scss */
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
}
